:root {
    --first: #27374D;
    --second: #526D82;
    --third: #9DB2BF;
    --forth: #DDE6ED;
}

body {
    color: white;
    background-color: var(--third);
}

.nav-link, .navbar-brand {
    color: #fff;
    transition: all 0.3s ease-in-out;
    
    font-weight: bold;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
   
    
}

.nav-link:hover, .navbar-brand:hover {
    color: rgba(39, 55, 77, 0.5);
    text-decoration: underline;
}


#imgColecao {
    max-height: 100px;
}


.principal {
    background: var(--third);
    min-height: 100vh;
    box-shadow: 0 0 1rem;
    display: flex;
    flex-direction: column;
}

.corpo-principal {
    flex: 1 1 auto;
}

.my-4 {
    color: var(--first);
}

.basic {
    height: 75vh;
}

.card {
    background-color: var(--forth);
    color: black;
    display: flex;
}

.rodape {
    padding: 10px;
    text-align: center;
}

.margin-style {
    margin-top: 2.5rem;
}

.flex-style {
    display: flex;
}

.card-container {
    flex: 1;
}
/* 
.limitador {
    max-width: 1260px;
    margin: 0 auto;
} */
.my-4text{
    color: var(--first);
    font-size:20px;
}
.my-4license{
    margin-top: 300px;
    color: var(--third);
    text-decoration: underline;
    text-align:justify;
}
.my-4title{
    font-size: 30px;
    color: var(--first)
}
