:root {
    --first: #27374D;
    --second: #526D82;
    --third: #9DB2BF;
    --forth: #DDE6ED;
}



body {
    color: white;
    background-color: var(--third);
}

.navbar {
    position: fixed;
    z-index: 1;
    background-color: var(--third);
    width: 100%;
    box-shadow: 0 0 1rem var(--first);
}
.nav-link, .navbar-brand {
    color: var(--third);
    transition: all 0.3s ease-in-out;
    font-size: 1.3rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
   
    
}
a {
    cursor: pointer;
}

.nav-link:hover, .navbar-brand:hover {
    color: rgba(39, 55, 77, 0.5);
    text-decoration: underline;
}

.navbar-nav {
    width: 100%;
    justify-content: space-around;
}

.first {
    color: var(--first) !important;
}

.white {
    color: white !important;
}

#imgColecao {
    max-height: 100px;
}


.principal {
    background: var(--third);
    min-height: 100vh;
    /* box-shadow: 0 0 1rem; */
    display: flex;
    flex-direction: column;
}

.corpo-principal {
    flex: 1 1 auto;
    padding-top: 60px;
}

.my-4 {
    color: var(--first);
}

.basic {
    min-height: 75vh;
    padding: 50px;
}

.basic2 {
    height: 75vh;
}

.card {
    background-color: var(--forth);
    color: black;
    display: flex;
}

.margin-style {
    margin-top: 2.5rem;
}

.flex-style {
    display: flex;
}

.card-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-container p {
    padding-left: 40px;
    text-align: left;
}
/* 
.limitador {
    max-width: 1260px;
    margin: 0 auto;
} */
.my-4text{
    color: var(--first);
    font-size:20px;
}
.my-4license{
    margin-top: 300px;
    color: var(--third);
    text-decoration: underline;
    text-align:justify;
}
.my-4title{
    font-size: 30px;
    color: var(--first)
}

.btn-secondary {
    background-color: var(--second);
    border-color: var(--second);
}

.h2-name {
    margin-top: 25px;
}

.text-basic {
    font-size: 1em;
    margin-top: -10px;
}

.rodape {
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

figure {
    width: 150px;
    margin-top: 10px;
}

figure img {
    width: 100%;
}

/* create a responsive media query when screen is smaller then 768px */
@media screen and (max-width: 768px) {
    /* second child of class row have 50px of margin top */
    .col:nth-child(2n) {
        margin-top: 2.5rem !important;
    }
}