:root {
    --first: #27374D;
    --second: #526D82;
    --third: #9DB2BF;
    --forth: #DDE6ED;
}

body {
    color: white;
}

.nav-link, .navbar-brand {
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover, .navbar-brand:hover {
    color: rgba(39, 55, 77, 0.5);
}


#imgColecao {
    max-height: 100px;
}


.principal {
    background: var(--third);
    min-height: 100vh;
    box-shadow: 0 0 1rem;
    display: flex;
    flex-direction: column;
}

.corpo-principal {
    flex: 1 1 auto;
}

.my-4 {
    color: var(--first);
}

.basic {
    height: 75vh;
}

.card {
    background-color: var(--forth);
    color: black;
}

.rodape {
    padding: 1rem;
    text-align: center;
}
/* 
.limitador {
    max-width: 1260px;
    margin: 0 auto;
} */
