  
<div class="container-fluid">
	<h1 class="my-4">
		Sobre o Grupo
	</h1>
	<div class="card shadow my-4 basic2">
		<div class="row justify-content-center align-items-center" style="height: 100vh">
		  <div class="col-lg-4 text-center">
			<img src="https://avatars.githubusercontent.com/u/100136294?v=4" alt="Imagem 1" class="bd-placeholder-img rounded-circle" width="250">
			<h2 class="fw-normal h2-name">Felipe Prates</h2>
			<p class="text-basic">Dev Front-End</p>
			<p><a class="btn btn-secondary" href="https://github.com/pratesfelipe" target="_blank">Venha ver meu portfólio &raquo;<i class="fab fa-github-square"></i></a></p>
		  </div>
		  <div class="col-lg-4 text-center">
			<img src="https://avatars.githubusercontent.com/u/80708905?v=4" alt="Imagem 2" class="bd-placeholder-img rounded-circle" width="250">
			<h2 class="fw-normal h2-name">Rafael Guimarães</h2>
			<p class="text-basic">Dev Back-End</p>
			<p><a class="btn btn-secondary" href="https://github.com/Raf-Guim" target="_blank">Venha ver meu portfólio &raquo;</a></p>
		  </div>
		  <div class="col-lg-4 text-center">
			<div class = "image">
			<img src="https://avatars.githubusercontent.com/u/62072476?v=4" alt="Imagem 3" class="bd-placeholder-img rounded-circle" width="250">
			</div>
			<h2 class="fw-normal h2-name">Luan Rodrigues</h2>
			<p class="text-basic">Dev Front-End</p>
			<p><a class="btn btn-secondary" href="https://github.com/LuanFig" target="_blank">Venha ver meu portfólio &raquo;</a></p>
		  </div>
		</div>
	  </div>
	  
</div>
