<div class="container-fluid">
	<h1 class="my-4">
		Top 10 Coleções
	</h1>
	<div class="container">
		<div class="row margin-style">
			<div class="col">
				<div class="card shadow h-100">
					<div class="card-body flex-style">
						<div class="card-container">
							<h4 class="text-center mb-4 h2Colecao"></h4>
							<div class="text-center">
								<img class="imgColecao" style="max-width: 150px;" />
							</div>
						</div>
						<div class="card-container">
							<p class="ranking"></p>
							<p class="volumeChange"></p>
							<p class="floorSale"></p>
							<p class="ownerCount"></p>
							<p class="onSaleCount"></p>
							<p class="tokenCount"></p>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card shadow h-100">
					<div class="card-body flex-style">
						<div class="card-container">
							<h4 class="text-center mb-4 h2Colecao"></h4>
							<div class="text-center">
								<img class="imgColecao" style="max-width: 150px;" />
							</div>
						</div>
						<div class="card-container">
							<p class="ranking"></p>
							<p class="volumeChange"></p>
							<p class="floorSale"></p>
							<p class="ownerCount"></p>
							<p class="onSaleCount"></p>
							<p class="tokenCount"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row margin-style">
			<div class="col">
				<div class="card shadow h-100">
					<div class="card-body flex-style">
						<div class="card-container">
							<h4 class="text-center mb-4 h2Colecao"></h4>
							<div class="text-center">
								<img class="imgColecao" style="max-width: 150px;" />
							</div>
						</div>
						<div class="card-container">
							<p class="ranking"></p>
							<p class="volumeChange"></p>
							<p class="floorSale"></p>
							<p class="ownerCount"></p>
							<p class="onSaleCount"></p>
							<p class="tokenCount"></p>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card shadow h-100">
					<div class="card-body flex-style">
						<div class="card-container">
							<h4 class="text-center mb-4 h2Colecao"></h4>
							<div class="text-center">
								<img class="imgColecao" style="max-width: 150px;" />
							</div>
						</div>
						<div class="card-container">
							<p class="ranking"></p>
							<p class="volumeChange"></p>
							<p class="floorSale"></p>
							<p class="ownerCount"></p>
							<p class="onSaleCount"></p>
							<p class="tokenCount"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row margin-style">
			<div class="col">
				<div class="card shadow h-100">
					<div class="card-body flex-style">
						<div class="card-container">
							<h4 class="text-center mb-4 h2Colecao"></h4>
							<div class="text-center">
								<img class="imgColecao" style="max-width: 150px;" />
							</div>
						</div>
						<div class="card-container">
							<p class="ranking"></p>
							<p class="volumeChange"></p>
							<p class="floorSale"></p>
							<p class="ownerCount"></p>
							<p class="onSaleCount"></p>
							<p class="tokenCount"></p>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card shadow h-100">
					<div class="card-body flex-style">
						<div class="card-container">
							<h4 class="text-center mb-4 h2Colecao"></h4>
							<div class="text-center">
								<img class="imgColecao" style="max-width: 150px;" />
							</div>
						</div>
						<div class="card-container">
							<p class="ranking"></p>
							<p class="volumeChange"></p>
							<p class="floorSale"></p>
							<p class="ownerCount"></p>
							<p class="onSaleCount"></p>
							<p class="tokenCount"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row margin-style">
			<div class="col">
				<div class="card shadow h-100">
					<div class="card-body flex-style">
						<div class="card-container">
							<h4 class="text-center mb-4 h2Colecao"></h4>
							<div class="text-center">
								<img class="imgColecao" style="max-width: 150px;" />
							</div>
						</div>
						<div class="card-container">
							<p class="ranking"></p>
							<p class="volumeChange"></p>
							<p class="floorSale"></p>
							<p class="ownerCount"></p>
							<p class="onSaleCount"></p>
							<p class="tokenCount"></p>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card shadow h-100">
					<div class="card-body flex-style">
						<div class="card-container">
							<h4 class="text-center mb-4 h2Colecao"></h4>
							<div class="text-center">
								<img class="imgColecao" style="max-width: 150px;" />
							</div>
						</div>
						<div class="card-container">
							<p class="ranking"></p>
							<p class="volumeChange"></p>
							<p class="floorSale"></p>
							<p class="ownerCount"></p>
							<p class="onSaleCount"></p>
							<p class="tokenCount"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row margin-style">
			<div class="col">
				<div class="card shadow h-100">
					<div class="card-body flex-style">
						<div class="card-container">
							<h4 class="text-center mb-4 h2Colecao"></h4>
							<div class="text-center">
								<img class="imgColecao" style="max-width: 150px;" />
							</div>
						</div>
						<div class="card-container">
							<p class="ranking"></p>
							<p class="volumeChange"></p>
							<p class="floorSale"></p>
							<p class="ownerCount"></p>
							<p class="onSaleCount"></p>
							<p class="tokenCount"></p>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card shadow h-100">
					<div class="card-body flex-style">
						<div class="card-container">
							<h4 class="text-center mb-4 h2Colecao"></h4>
							<div class="text-center">
								<img class="imgColecao" style="max-width: 150px;" />
							</div>
						</div>
						<div class="card-container">
							<p class="ranking"></p>
							<p class="volumeChange"></p>
							<p class="floorSale"></p>
							<p class="ownerCount"></p>
							<p class="onSaleCount"></p>
							<p class="tokenCount"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="/public/chart.js/chart.min.js"></script>

<script type="text/javascript">
	async function buscar() {

		let data =[];
		let h2Colecoes = document.getElementsByClassName("h2Colecao");
		let imgColecoes = document.getElementsByClassName("imgColecao");
		let rankingColecoes = document.getElementsByClassName("ranking");
		let floorSaleColecoes = document.getElementsByClassName("floorSale");
		let volumeChangeColecoes = document.getElementsByClassName("volumeChange");
		let ownerCountColecoes = document.getElementsByClassName("ownerCount");
		let tokenCountColecoes = document.getElementsByClassName("tokenCount");
		let onSaleCountColecoes = document.getElementsByClassName("onSaleCount");

		try {
			let response = await fetch("/api/colecao/listarTop10");
			if (!response.ok) {
				alert("Erro ao buscar os dados!");
				return;
			}

			let dados = await response.json();
			if (!dados || !dados.length) {
				alert("Sem dados!");
				return;
			}
			
			for (let i = 0; i < dados.length; i++) {
				h2Colecoes[i].textContent = dados[i].name;
				imgColecoes[i].src = dados[i].image;
				imgColecoes[i].alt = dados[i].name;
				rankingColecoes[i].innerHTML = '<b>Ranking:</b><i> ' + dados[i].avg_ranking + '</i>';
				floorSaleColecoes[i].innerHTML = '<b>Price:</b><i> ' + dados[i].avg_floorSale.toFixed(3) + ' ETH</i>';
				volumeChangeColecoes[i].innerHTML = '<b>Volume Change:</b><i> ' + dados[i].avg_volumeChange.toFixed(2) + '%</i>';
				ownerCountColecoes[i].innerHTML = '<b>Owners:</b><i> ' + dados[i].avg_ownerCount + '</i>';
				onSaleCountColecoes[i].innerHTML = '<b>Tokens on Sale:</b><i> ' + dados[i].avg_onSaleCount + '</i>';
				tokenCountColecoes[i].innerHTML = '<b>Tokens:</b><i> ' + dados[i].avg_tokenCount + '</i>';

			}

		} catch (ex) {
			alert("Erro ao atualizar: " + ex.message);
			return;
		};
	}

	buscar();
</script>
